<div class= "card" >
    <div class="card-body">
        <h1 class="display-1"><center>Acerca de...</center></h1>
        <p></p>
        <h2><center>En cuanto a la estructura de la plataforma se utilizaron las siguientes herramientas:</center></h2>
        <p></p>
        <hr class="my-1">
        <hr class="my-1">
        <img src="/img/NodeJS.png" class="logo" alt="NodeJS">
        <p></p>
        <h2 align="center">Herramienta encargada de manejar la estructura lógica</h2>
        <p></p>
        <hr class="my-1">
        <hr class="my-1">
        <img src="/img/MongoDB.png" class="logo" alt="MongoDB">
        <p></p>
        <h2 align="center">Herramienta encargada el almacenamiento y uso de los datos</h2>
        <p></p>
        <hr class="my-1">
        <hr class="my-1">
        <img src="/img/Booststrap.png" class="logo" alt="Booststrap">
        <p></p>
        <h2 align="center">Herramienta encargada de manejar la parte estetica</h2>
        <p></p>
        <hr class="my-1">
        <hr class="my-1">
        <p></p>
        <p></p>
        <h2 align="justify">En cuanto a la estructura que tomaron los datos, la plataforma se basa en un sistema de información propuesto por el ministerio de agricultura (Agronet)</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="https://www.agronet.gov.co/estadistica/Paginas/home.aspx?cod=2" class="btn btn-primary btn-lg" >Agronet</a>
        </div>
        
    </div>
</div>